Repository Descanonge/neba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, pages

tests:
  stage: tests
  needs: []
  variables:
    JUNIT_PATH: test_report.xml
  script:
  - 'pip install .[tests]
  
    pytest --junitxml=''$JUNIT_PATH'' --cov=data_assistant --cov=tests -m ''not todo'' tests || exit_code=$?
  
    coverage xml -o coverage/coverage.xml
  
    $exit_code
  
    '
  ...

pages:
  stage: docs
  needs: []
  variables:
    DOC_BUILD_DIR: _build
  script:
  - pip install .[docs]
  - cd docs
  - sphinx-build -b html -d $DOC_BUILD_DIR/doctrees ./source $DOC_BUILD_DIR/html
  - mv $DOC_BUILD_DIR/html "$CI_PROJECT_DIR/public"
  artifacts:
    paths:
    - public

Add global function to get class name
  src/data_assistant/config/application.py
  src/data_assistant/config/loaders/json.py
  src/data_assistant/config/loaders/python.py
  src/data_assistant/config/loaders/toml.py
  src/data_assistant/config/loaders/yaml.py
  src/data_assistant/config/section.py
  src/data_assistant/config/util.py
  src/data_assistant/data/dataset.py
  src/data_assistant/data/module.py
  src/data_assistant/util.py
Due: tests, pages

Fix section class names in help
  src/data_assistant/config/section.py
Due: tests, pages

Remove automatic subclass of subsection
  docs/source/configuration/usage.rst
  src/data_assistant/autodoc_trait.py
  src/data_assistant/config/application.py
  src/data_assistant/config/section.py
Due: tests, pages

Remove ConfigErrorHandler
  src/data_assistant/config/util.py
Due: tests, pages

Use custom encoder for params metadata dump
  src/data_assistant/data/writer.py
Due: tests, pages

Fix dataset retrieve traits from app
  src/data_assistant/data/dataset.py
Due: tests, pages

Easier FileLoader selection
  README.md
  src/data_assistant/config/application.py
  src/data_assistant/config/loaders/__init__.py
  src/data_assistant/config/section.py
  src/data_assistant/util.py
  tests/config/test_application.py
  tests/config/test_loaders.py
Due: tests, pages

Fix module ancestors setup
  docs/source/datasets/usage.rst
  src/data_assistant/data/module.py
  tests/datasets/test_dataset.py
Due: tests, pages

Add validators and observers to documentation
  src/data_assistant/autodoc_trait.py
Due: tests, pages

Fix ParamsManagerDict
  src/data_assistant/data/params.py
Due: tests, pages

Limit container sizes
  tests/config/trait_generation.py
Due: tests

Up docs
  docs/source/_templates/layout.html
  docs/source/about/extending.rst
  docs/source/about/index.rst
  docs/source/about/motivations.rst
  docs/source/conf.py
  docs/source/configuration/dask.rst
  docs/source/configuration/index.rst
  docs/source/configuration/usage.rst
  docs/source/datasets/existing_modules.rst
  docs/source/datasets/index.rst
  docs/source/datasets/usage.rst
  docs/source/index.rst
Due: pages

Add automatic attribute dispatch for module mix
  src/data_assistant/data/module.py
Due: tests, pages

Only store subsections descriptors
  src/neba/autodoc_trait.py
  src/neba/config/application.py
  src/neba/config/loaders/core.py
  src/neba/config/loaders/python.py
  src/neba/config/loaders/toml.py
  src/neba/config/loaders/yaml.py
  src/neba/config/section.py
  src/neba/data/dataset.py
  src/neba/data/params.py
  tests/config/test_section.py
  tests/config/test_traits.py
Due: tests, pages

Add omissions in coverage
  pyproject.toml
Due: tests, pages

Up docs
  README.md
  docs/source/datasets/existing_modules.rst
  examples/simple_project.py
  examples/test_dataset.py
  src/data_assistant/data/xarray.py
Due: tests, pages

Fix autodoc only-configurables and Union(Enum)
  src/neba/autodoc_trait.py
Due: tests, pages

Make Section._parent an instance
  src/data_assistant/config/application.py
  src/data_assistant/config/section.py
Due: tests, pages

Fix tests using comments
  tests/config/test_loaders.py
Due: tests

Rename to postprocess
  docs/source/datasets/usage.rst
  src/data_assistant/data/loader.py
Due: tests, pages

Better subsection descriptors access
  src/neba/config/section.py
Due: tests, pages

Fix dataset name in metadata
  src/data_assistant/data/writer.py
Due: tests, pages

Rename and add tests for util modules
  tests/config/test_util.py
  tests/data/test_util.py
  tests/test_util.py
Due: tests

Regroup multi-file modules
  src/data_assistant/data/dataset.py
  src/data_assistant/data/loader.py
  src/data_assistant/data/source.py
  src/data_assistant/data/util.py
  src/data_assistant/data/writer.py
  src/data_assistant/data/xarray.py
Due: tests, pages

Up docs
  docs/source/api.rst
  docs/source/conf.py
  docs/source/configuration/autodoc_trait.rst
  docs/source/configuration/extending.rst
  docs/source/configuration/index.rst
  docs/source/configuration/usage.rst
  docs/source/data/existing_modules.rst
  docs/source/data/index.rst
  docs/source/data/usage.rst
  docs/source/datasets/index.rst
  docs/source/index.rst
  src/neba/autodoc_trait.py
Due: tests, pages

Fix typehint
  src/data_assistant/util.py
Due: tests, pages

Add zarr dependency for tests
  pyproject.toml
Due: tests, pages

Up tests
  tests/config/test_section.py
  tests/config/test_traits.py
  tests/config/test_util.py
  tests/data/test_source.py
Due: tests

Add about section
  docs/source/data/index.rst
  docs/source/index.rst
Due: pages

Remove useless import_types
  src/neba/config/section.py
Due: tests, pages

Fix fixable and unfixed
  src/neba/data/source.py
Due: tests, pages

Up data tests
  pyproject.toml
  tests/data/__init__.py
  tests/data/test_dataset.py
  tests/data/test_params.py
  tests/data/test_source.py
  tests/data/test_xarray.py
Due: tests, pages

Fix Xarray open_dataset
  src/neba/data/xarray.py
Due: tests, pages

Update store
  docs/source/datasets/usage.rst
  docs/source/index.rst
  src/data_assistant/data/__init__.py
  src/data_assistant/data/register.py
  src/data_assistant/data/store.py
  tests/data/test_store.py
Due: tests, pages

Multifile source return absolute paths
  src/neba/data/source.py
  src/neba/data/writer.py
Due: tests, pages

Migrate to github
  .gitlab-ci.yml
  README.md
  ci/pre-commit.sh
  ci/requirements-dev.yml
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
Due: tests, pages

Add test workflow
  .github/workflows/tests.yml
Due: none

Configure readthedocs
  .readthedocs.yml
  pyproject.toml
Due: tests, pages

Limit tests to ubuntu
  .github/workflows/tests.yml
Due: none

Path conditions:
  tests: any of: src/**/*, tests/**/*, pyproject.toml
  pages: any of: src/**/*, docs/**/*, pyproject.toml
