Repository Descanonge/neba: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests, pages

.gitlab-ci.yml:

stages:
  - tests
  - docs

.standard-rules:
  rules:
    - if: $CI_PIPELINE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

default:
  image: python:latest
  cache:
    paths:
      - .cache/pip
  before_script:
    - python --version; pip --version
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate

tests:
  extends:
    - .standard-rules
  rules:
    - changes:
      - src/**/*
      - tests/**/*
      - pyproject.toml
  stage: tests
  needs: []
  variables:
    JUNIT_PATH: "test_report.xml"
  script:
    - >
      pip install .[tests]

      pytest --junitxml='$JUNIT_PATH'
      --cov=data_assistant --cov=tests
      -m 'not todo' tests || exit_code=$?

      coverage xml -o coverage/coverage.xml

      $exit_code
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
      - '$JUNIT_PATH'
      - coverage/coverage.xml
    reports:
      junit: '$JUNIT_PATH'
      coverage_report:
        coverage_format: cobertura
        path: coverage/coverage.xml


pages:
  extends:
    - .standard-rules
  rules:
    - changes:
      - src/**/*
      - docs/**/*
      - pyproject.toml
  stage: docs
  needs: []
  variables:
    DOC_BUILD_DIR: _build
  script:
    - pip install .[docs]
    - cd docs
    - sphinx-build -b html -d $DOC_BUILD_DIR/doctrees ./source $DOC_BUILD_DIR/html
    - mv $DOC_BUILD_DIR/html "$CI_PROJECT_DIR/public"
  artifacts:
    paths:
      - public

Fix tests
  .github/workflows/tests.yml
  docs/source/index.rst
Due: pages

Avoid tests marked as todo
  .github/workflows/tests.yml
Due: none

Avoid pytest-forked
  .github/workflows/tests.yml
  pyproject.toml
  tests/config/generic_config.py
  tests/config/section_generation.py
  tests/config/test_loaders.py
  tests/config/test_section.py
  tests/config/trait_generation.py
Due: tests, pages

No matrix
  .github/workflows/tests.yml
Due: none

Use CI profile
  .github/workflows/tests.yml
Due: none

Up workflows
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  pyproject.toml
  tests/config/test_section.py
  tests/conftest.py
Due: tests, pages

Use a single test job
  .github/workflows/ci.yml
Due: none

Only run slow hypothesis on main branch
  .github/workflows/ci.yml
Due: none

Add badges
  README.md
Due: none

Fix linting and type hints
  README.md
  docs/source/index.rst
  pyproject.toml
  src/neba/__init__.py
  src/neba/autodoc_trait.py
  src/neba/config/loaders/cli.py
  src/neba/config/loaders/core.py
  src/neba/config/loaders/json.py
  src/neba/config/loaders/python.py
  src/neba/config/mypy_plugin.py
  src/neba/config/util.py
  src/neba/data/module.py
  src/neba/data/source.py
  src/neba/data/util.py
  src/neba/data/writer.py
  src/neba/data/xarray.py
Due: tests, pages

Do not check git metadata
  tests/data/test_xarray.py
Due: tests

Create LICENSE
  LICENSE
Due: none

Fix workflow
  .github/workflows/ci.yml
Due: none

Fix tests commands
  .github/workflows/ci.yml
Due: none

Fix slow tests conditional
  .github/workflows/ci.yml
Due: none

Fix readthedocs install
  .readthedocs.yml
Due: none

Add publish workflow
  .github/workflows/publish-pypi.yml
Due: none

Add PyPI info
  README.md
  docs/source/index.rst
  pyproject.toml
Due: tests, pages

Fix paths-ignore
  .github/workflows/ci.yml
Due: none

Add raise_errors parameters to setup_safe
  src/neba/data/dataset.py
  src/neba/data/module.py
Due: tests, pages

Add module classname to repr by default
  src/neba/data/module.py
Due: tests, pages

Fix typing issues with generics
  src/neba/data/loader.py
  src/neba/data/source.py
  src/neba/data/util.py
  src/neba/data/writer.py
  src/neba/data/xarray.py
Due: tests, pages

Up docs
  README.md
  docs/source/_templates/sphinx-theme-version.html
  docs/source/config/autodoc_trait.rst
  docs/source/config/extending.rst
  docs/source/config/index.rst
  docs/source/config/usage.rst
  docs/source/data/existing_modules.rst
  docs/source/data/index.rst
  docs/source/data/usage.rst
  docs/source/index.rst
  src/neba/data/dataset.py
  src/neba/data/loader.py
  src/neba/data/module.py
  src/neba/data/params.py
  src/neba/data/source.py
  src/neba/data/store.py
  src/neba/data/writer.py
  src/neba/data/xarray.py
Due: tests, pages

Rename to update_params and reset_params
  src/neba/data/dataset.py
  src/neba/data/params.py
Due: tests, pages

Separate Dataset as a Section
  src/neba/data/__init__.py
  src/neba/data/dataset.py
Due: tests, pages

Fix restore cache on save_excursion
  src/neba/data/dataset.py
Due: tests, pages

Use only class name for Dataset str
  src/neba/data/dataset.py
Due: tests, pages

Up docs
  docs/source/data/existing_modules.rst
  docs/source/data/usage.rst
  src/neba/config/section.py
  src/neba/data/dataset.py
  src/neba/data/module.py
  src/neba/data/params.py
Due: tests, pages

Separate lists output
  src/neba/data/source.py
Due: tests, pages

Up tests
  tests/data/test_dataset.py
  tests/data/test_params.py
Due: tests

Refactor parameters management
  src/neba/data/__init__.py
  src/neba/data/dataset.py
  src/neba/data/module.py
  src/neba/data/params.py
  src/neba/data/source.py
  src/neba/data/writer.py
  src/neba/data/xarray.py
  tests/data/test_dataset.py
  tests/data/test_params.py
  tests/data/test_source.py
  tests/data/test_xarray.py
Due: tests, pages

Remove redundant raise_on_miss in Section.update
  src/neba/config/section.py
  src/neba/data/params.py
Due: tests, pages

Add repr for DatasetSection
  src/neba/data/dataset.py
Due: tests, pages

Up API docs
  .gitignore
  docs/Makefile
  docs/source/api/config.rst
  docs/source/api/data.rst
  docs/source/api/index.rst
  docs/source/conf.py
  docs/source/config/autodoc_trait.rst
  docs/source/index.rst
  src/neba/__init__.py
  src/neba/data/__init__.py
  src/neba/data/params.py
Due: tests, pages

Up tests
  tests/config/test_section.py
  tests/data/test_params.py
Due: tests

Rename Dataset to DataInterface
  src/neba/data/__init__.py
  src/neba/data/interface.py
  src/neba/data/loader.py
  src/neba/data/module.py
  src/neba/data/params.py
  src/neba/data/source.py
  src/neba/data/store.py
  src/neba/data/writer.py
  src/neba/data/xarray.py
  tests/data/test_interface.py
Due: tests, pages

Up tests
  tests/conftest.py
  tests/data/test_params.py
  tests/data/test_source.py
  tests/data/test_store.py
  tests/data/test_xarray.py
Due: tests

Up docs
  README.md
  docs/source/api/data.rst
  docs/source/conf.py
  docs/source/data/existing_modules.rst
  docs/source/data/index.rst
  docs/source/data/usage.rst
  docs/source/index.rst
Due: pages
